In [ ]:
import pandas as ed

# Question 1

In [ ]:
data1 = ed.read_excel("/content/Input File 1.xlsx")

In [ ]:
data1

   Zipcode   Location
0      234     Pashan
1      345      Nahre
2      456   Lohegoan
3      567       Camp
4      678      Nagar
5      789     Kondwa
6      890   Balewadi
7      123  Vimanagar

In [ ]:
data2 = ed.read_excel("/content/Input File 2.xlsx")

In [ ]:
data2

       Name  age  Zipcode
0    Pranit   23      234
1  Abhishek   24      345
2      Yash   23      456
3    Pranit   32      567
4    Yogesh   26      678
5     Latur   45      789
6     Umesh   67      890
7      Yash   23      123

In [ ]:
data7 = ed.merge(data1, data2, on= "Zipcode")

In [ ]:
data7.to_excel('data7.xlsx')

## Question 2

In [ ]:
data3 = ed.read_excel("/content/Input File.xlsx")

In [ ]:
data3

,Category,EquipmentMake,EquipmentModel,Equipment,Engine,EquipmentType,Year,Part Number,Part Details 1,Part Details 2,Filter Type,Quantity,Availability
0,Off Highway,AG CHEM EQUIPMENT,004,AG CHEM EQUIPMENT 004,Engine CUMMINS 6CTA8.3,Equipment Type SPRAYER,NaN,P119373,AG CHEM EQUIPMENT,702463,"AIR FILTER, SAFETY",Qty Per Equipment\n1,Buy Online From Distributor\n\nBuy Online\nAdd...
1,Off Highway,AG CHEM EQUIPMENT,004,AG CHEM EQUIPMENT 004,Engine CUMMINS 6CTA8.3,Equipment Type SPRAYER,NaN,P551381,AG CHEM EQUIPMENT,30098,"LUBE FILTER, SPIN-ON FULL FLOW",Qty Per Equipment\n1,Buy Online From Distributor\n\nBuy Online\nAdd...
2,Off Highway,AG CHEM EQUIPMENT,004,AG CHEM EQUIPMENT 004,Engine CUMMINS 6CTA8.3,Equipment Type SPRAYER,NaN,P550440,AG CHEM EQUIPMENT,709935,"FUEL FILTER, SPIN-ON SECONDARY",Qty Per Equipment\n2,Buy Online From Distributor\n\nBuy Online\nAdd...
3,Off Highway,AG CHEM EQUIPMENT,004,AG CHEM EQUIPMENT 004,Engine CUMMINS 6CTA8.3,Equipment Type SPRAYER,NaN,P181046,Donaldson,P181046,"AIR FILTER, PRIMARY ROUND",Qty Per Equipment\n1,Buy Online From Distributor\n\nBuy Online\nAdd...
4,Off Highway,AG CHEM EQUIPMENT,004,AG CHEM EQUIPMENT 004,Engine CUMMINS 6CTA8.3,Equipment Type SPRAYER,NaN,P552072,AG CHEM EQUIPMENT,710195,"COOLANT FILTER, SPIN-ON SCA PLUS",Qty Per Equipment\n1,Buy Online From Distributor\n\nBuy Online\nAdd...
5,Off Highway,AG CHEM EQUIPMENT,004,AG CHEM EQUIPMENT 004,Engine CUMMINS 6CTA8.3,Equipment Type SPRAYER,NaN,P553000,AG CHEM EQUIPMENT,711049,"LUBE FILTER, SPIN-ON FULL FLOW",Qty Per Equipment\n1,Buy Online From Distributor\n\nBuy Online\nAdd...
6,Off Highway,AG CHEM EQUIPMENT,004,AG CHEM EQUIPMENT 004,Engine CUMMINS 6CTA8.3,Equipment Type SPRAYER,NaN,P550974,AG CHEM EQUIPMENT,516180,"FUEL FILTER, IN-LINE",Qty Per Equipment\n1,Buy Online From Distributor\n\nBuy Online\nAdd...
7,Off Highway,AG CHEM EQUIPMENT,004,AG CHEM EQUIPMENT 004,Engine CUMMINS 6CTA8.3,Equipment Type SPRAYER,NaN,P551329,AG CHEM EQUIPMENT,709936,"FUEL FILTER, WATER SEPARATOR SPIN-ON TWIST&DRAIN",Qty Per Equipment\n1,Buy Online From Distributor\n\nBuy Online\nAdd...
8,Off Highway,AG CHEM EQUIPMENT,004,AG CHEM EQUIPMENT 004,Engine CUMMINS V504,Equipment Type SPRAYER,NaN,P551381,AG CHEM EQUIPMENT,30098,"LUBE FILTER, SPIN-ON FULL FLOW",Qty Per Equipment\n1,Buy Online From Distributor\n\nBuy Online\nAdd...

In [ ]:
l1 = [] 
l2 = []
for i in data3 ['Engine'] :
   l1.append(i.split() [1]) 
   l2.append(i.split() [2])

In [ ]:
l3 = []
for h in data3 ['EquipmentType'] :
  l3.append(h.split()[2])

In [ ]:
l2

['6CTA8.3',
 '6CTA8.3',
 '6CTA8.3',
 '6CTA8.3',
 '6CTA8.3',
 '6CTA8.3',
 '6CTA8.3',
 '6CTA8.3',
 'V504']

In [ ]:
data3["EquipmentType"] = l3

In [ ]:
data3["Engine"] = l1

In [ ]:
data3["EngineName"] = l2

In [ ]:
data3.to_excel('questino2output.xlsx')

## Question 3

In [ ]:
data4 = ed.read_excel("/content/Inputfile4.xlsx")

In [ ]:
data4 = data4.fillna(0) # replace nan with zero

In [ ]:
data4

,ApplicationUniqueNumber,Cluster Id,Survivorship,Source,Equipment Manufacturer Name,Equipment Make,Equipment Model,Equipment Model Year Start,Equipment Serial Number Start,Equipment Model Year End,...,Market Segment,Market Sub Segment,Equipment Sub Type 2,Retain Golden,Decision,Comments,Review,Golden,Existing Golden,Column1
0,101527-1-1-1,142815.0,Golden,Catalog,Mack,Mack,-,-,-,0.0,...,0.0,0,Engine,0.0,0.0,0.0,Catalog team reviewed,101527-1-1-1,0,0.0
1,101527-1-1-1,142815.0,Cross Reference,Catalog,MACK,MACK,- -,-,0,0.0,...,0.0,0,0,0.0,0.0,0.0,0,0,101527-1-1-1,0.0
2,101528-1-1-1,94522.0,Golden,Catalog,Mack,Mack,-,-,-,0.0,...,0.0,0,Engine,0.0,0.0,0.0,Catalog team reviewed,101528-1-1-1,0,0.0
3,101528-1-1-1,94522.0,Cross Reference,Catalog,MACK,MACK,- -,-,0,0.0,...,0.0,0,0,0.0,0.0,0.0,0,0,101528-1-1-1,0.0
4,106826-1-1-1,73295.0,Golden,Catalog,Mack,Mack,-,-,-,0.0,...,0.0,0,Engine,0.0,0.0,0.0,Catalog team reviewed,106826-1-1-1,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14605,20220701-219376,0.0,Cross Reference,Catalog,PETERBILT,PETERBILT,357,-,-,0.0,...,0.0,0,0,0.0,0.0,0.0,0,0,20220701-219376,0.0
14606,20220701-536028,0.0,Cross Reference,Catalog,PETERBILT,PETERBILT,357,-,-,0.0,...,0.0,0,0,0.0,0.0,0.0,0,0,20220701-219376,0.0
14607,20220701-219380,0.0,Golden,Catalog,Peterbilt,PETERBILT,379,-,-,0.0,...,0.0,0,-,0.0,0.0,0.0,IDQ Output,20220701-219380,0,0.0
14608,20220701-219380,0.0,Cross Reference,Catalog,PETERBILT,PETERBILT,379,-,-,0.0,...,0.0,0,0,0.0,0.0,0.0,0,0,20220701-219380,0.0
14609,20220701-536114,0.0,Cross Reference,Catalog,PETERBILT,PETERBILT,379,-,-,0.0,...,0.0,0,0,0.0,0.0,0.0,0,0,20220701-219380,0.0

In [ ]:
data4['Equipment Model Year Start'] = data4['Equipment Model Year Start'].replace('-',0)

In [ ]:
data4['Equipment Model Year Start'] = data4['Equipment Model Year Start'].replace('unknown',0)

In [ ]:
data4['Equipment Model Year Start'] = ed.to_numeric(data4['Equipment Model Year Start'])

In [ ]:

data8 = data4.loc[ (data4['Survivorship'] == 'Golden')  & (data4['Equipment Manufacturer Name'] == 'Kenworth')   & (data4['Equipment Model Year Start'] > 2008) & (data4['Review'] == 'Catalog team reviewed' )]

In [ ]:
set(data4.loc[(data4['Equipment Manufacturer Name'] == 'KENWORTH') & (data4['Equipment Model Year Start'] > 2008)] ['Review'])

{0}

In [ ]:
data4

,ApplicationUniqueNumber,Cluster Id,Survivorship,Source,Equipment Manufacturer Name,Equipment Make,Equipment Model,Equipment Model Year Start,Equipment Serial Number Start,Equipment Model Year End,...,Market Segment,Market Sub Segment,Equipment Sub Type 2,Retain Golden,Decision,Comments,Review,Golden,Existing Golden,Column1
0,101527-1-1-1,142815.0,Golden,Catalog,Mack,Mack,-,0,-,0.0,...,0.0,0,Engine,0.0,0.0,0.0,Catalog team reviewed,101527-1-1-1,0,0.0
1,101527-1-1-1,142815.0,Cross Reference,Catalog,MACK,MACK,- -,0,0,0.0,...,0.0,0,0,0.0,0.0,0.0,0,0,101527-1-1-1,0.0
2,101528-1-1-1,94522.0,Golden,Catalog,Mack,Mack,-,0,-,0.0,...,0.0,0,Engine,0.0,0.0,0.0,Catalog team reviewed,101528-1-1-1,0,0.0
3,101528-1-1-1,94522.0,Cross Reference,Catalog,MACK,MACK,- -,0,0,0.0,...,0.0,0,0,0.0,0.0,0.0,0,0,101528-1-1-1,0.0
4,106826-1-1-1,73295.0,Golden,Catalog,Mack,Mack,-,0,-,0.0,...,0.0,0,Engine,0.0,0.0,0.0,Catalog team reviewed,106826-1-1-1,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14605,20220701-219376,0.0,Cross Reference,Catalog,PETERBILT,PETERBILT,357,0,-,0.0,...,0.0,0,0,0.0,0.0,0.0,0,0,20220701-219376,0.0
14606,20220701-536028,0.0,Cross Reference,Catalog,PETERBILT,PETERBILT,357,0,-,0.0,...,0.0,0,0,0.0,0.0,0.0,0,0,20220701-219376,0.0
14607,20220701-219380,0.0,Golden,Catalog,Peterbilt,PETERBILT,379,0,-,0.0,...,0.0,0,-,0.0,0.0,0.0,IDQ Output,20220701-219380,0,0.0
14608,20220701-219380,0.0,Cross Reference,Catalog,PETERBILT,PETERBILT,379,0,-,0.0,...,0.0,0,0,0.0,0.0,0.0,0,0,20220701-219380,0.0
14609,20220701-536114,0.0,Cross Reference,Catalog,PETERBILT,PETERBILT,379,0,-,0.0,...,0.0,0,0,0.0,0.0,0.0,0,0,20220701-219380,0.0

## Question 4

In [ ]:
data5 = ed.read_excel("/content/Input File5.xlsx")

In [ ]:
from pandas.core.algorithms import unique
unique(data5['Application Unique Number'])

array(['107683-1-1-1', '107684-1-1-1', '107684-1-2-1', ..., 'polk_9985',
       'polk_9512', 'polk_9513'], dtype=object)

In [ ]:
data6 = data5.groupby(['Application Unique Number', 'Short Part Number', 'Void Code'], as_index= False ).first()

In [ ]:
data5.groupby(['Application Unique Number', 'Short Part Number', 'Void Code'], as_index= False ).last()

,Application Unique Number,Short Part Number,Void Code,Equipment Start Year,Equipment Model,Equipment Make,Engine Model,Engine Manufacturer,OEM Manufacturer,OEM Part Number,...,Product level Internal Comment,Photo ID,Product Classification Code,Application Internal Comments,Product Type,Product Family,Classification,Quantity,Applicable Region,Application Ranking
0,107683-1-1-1,AF27688,56849-1,2007,T660,Kenworth,ISM07,Cummins,Donaldson,P616056,...,None,NaN,ABE,None,Air Filter-Any Shape w/Unique Media,Air,NaN,1.0,NaN,None
1,107683-1-1-1,FS1000,80047-1,2007,T660,Kenworth,ISM07,Cummins,Cummins,3329289,...,None,NaN,FAF,None,Fuel Separator Spinon Stratapore,Fuel,NaN,1.0,NaN,None
2,107683-1-1-1,FS1003,55308-1,2007,T660,Kenworth,ISM07,Cummins,Cummins,4070801,...,None,NaN,FAF,None,Fuel Separator Spinon Stratapore,Fuel,NaN,1.0,NaN,None
3,107683-1-1-1,HF6107,62296-1,2007,T660,Kenworth,ISM07,Cummins,GMC,25010543,...,None,NaN,HAD,None,Hydraulic Spin-on Cellulose,Hydraulic,NaN,1.0,NaN,None
4,107683-1-1-1,LF14000NN,99696-1,2007,T660,Kenworth,ISM07,Cummins,Cummins,3101869,...,None,NaN,LAN,None,Oil Filter CoPleat Spinon,Lube,NaN,1.0,NaN,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13981,94609-1-2-1,LF691,30553-2,2008,T800B,Kenworth,C13,Caterpillar,Caterpillar,1R0716,...,None,NaN,LAB,None,Oil Filter Cellulose Spinon,Lube,NaN,1.0,NaN,None
13982,94609-1-2-1,LF691A,38129-1,2008,T800B,Kenworth,C13,Caterpillar,Caterpillar,1R1808,...,None,NaN,LAB,None,Oil Filter Cellulose Spinon,Lube,NaN,1.0,NaN,None
13983,94609-1-2-1,MK12697,100400-1,2008,T800B,Kenworth,C13,Caterpillar,-,-,...,None,NaN,None,None,Maintenance Kit,None,NaN,1.0,NaN,None
13984,94609-1-2-1,TF15085,97469-1,2008,T800B,Kenworth,C13,Caterpillar,Allison,29537965,...,None,NaN,TAA,None,Transmission Panel,Hydraulic,NaN,1.0,NaN,None
13985,94609-1-2-1,WF2122,35165-1,2008,T800B,Kenworth,C13,Caterpillar,-,-,...,None,NaN,CCA,None,DCA4 Water Filter,Chemicals and Coolants,NaN,1.0,NaN,None

In [ ]:
data7 = data6[['Application Unique Number', 'Short Part Number', 'Void Code']]

In [ ]:
data7.to_excel('ok.xlsx', index = False)

In [ ]:
len(set(data5['Application Unique Number']).difference(set(data7['Application Unique Number'])))

2144

## Question 5

In [ ]:
import pandas as pd

In [ ]:
data = pd.read_excel("/content/Input File5.xlsx")

In [ ]:
d1 = data[['Application Unique Number', 'Short Part Number', 'Void Code']]

In [ ]:
d= d1.fillna(0)

In [ ]:
d.groupby(['Application Unique Number', 'Short Part Number', 'Void Code'], as_index=False).first()

      Application Unique Number Short Part Number Void Code
0                  107683-1-1-1           AF27688   56849-1
1                  107683-1-1-1           CV50633         0
2                  107683-1-1-1            FS1000   80047-1
3                  107683-1-1-1            FS1003   55308-1
4                  107683-1-1-1            FS1282         0
...                         ...               ...       ...
21386                 polk_9879                 0         0
21387                 polk_9955                 0         0
21388                 polk_9957                 0         0
21389                 polk_9964                 0         0
21390                 polk_9985                 0         0

[21391 rows x 3 columns]